/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table tr th {background:#003300 ; color:#fff; padding:0; border:#111 solid 1px;}
 table tr td {border:1px #003300 solid; padding:20px;}
 table tr td.right {background: #E8E8E8;}
 table tr td h4 {margin:0; padding:0; font-weight:normal;}

 body
{
 background-color : #33CC66;
 text-align : center;
}
h2
{
 color : #330000;
 text-align : center;
 font-family: "SIMPSON";
}
h2
{
 color : #FFFFCC;
 text-align : center;
 font-family: "SIMPSON";
}

table
{
 align:"center";
}

thead
{
 align:"center";
}

tbody
{
 align:"center";
}
