// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
background-color : #008B8B;
text-align : center;
}
h1
{
color : #101010;
text-align : center;
font-family: "SIMPSON";
}
table
{
align:"center";
}
